<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Enter</servlet-name>
        <servlet-class>com.servlet.Enter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepostLogin</servlet-name>
        <servlet-class>com.servlet.RepostLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finishSurvey</servlet-name>
        <servlet-class>com.servlet.finishSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logaout</servlet-name>
        <servlet-class>com.servlet.logaout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.servlet.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Enter</servlet-name>
        <url-pattern>/Enter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepostLogin</servlet-name>
        <url-pattern>/RepostLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finishSurvey</servlet-name>
        <url-pattern>/finishSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logaout</servlet-name>
        <url-pattern>/logaout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
